#user-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 100%;
    margin: 10px;
}

#login-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body{
    min-height: 100vh;
}